<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <script src="../static/main.js"></script>
    <title>Mineria de textos</title>
  </head>
  <body>
    <header>
      <div class="cambiante">
        <div class="tira-1"></div>
        <div class="tira-2"></div>
        <div class="tira-3"></div>
        <div class="tira-4"></div>
        <div class="tira-5"></div>
      </div>
      <div class="presentacion">
        <h1>MODELOS DE IA</h1>
        <h2>Trabajo Grupal UD3</h2>
      </div>
      <div class="cambiante-2">
        <div class="tira-1"></div>
        <div class="tira-2"></div>
        <div class="tira-3"></div>
        <div class="tira-4"></div>
        <div class="tira-5"></div>
      </div>
    </header>
    <main>
      <h1>Detector de Reggaetón</h1>
      <div class="prueba-letra">
        <h3>Introduce la letra de la cancion</h3>
        <textarea name="text" id="text" onkeyup="onChangeTrad()"></textarea>
        <br />
        <button class="subir" onclick="comprobar()">Subir</button>
      </div>
      <p id="info-resultado"></p>
      <div class="validacion">
        <h1>Valida el resultado</h1>
        <button id="button-tick" onclick="feedback(true)">Regueton</button>
        <button id="button-cross" onclick="feedback(false)">No regueton</button>
        <h3 id="info-feedback"></h3>
      </div>
      <div class="audio">
        <h1>Sube tu audio</h1>
        <button id="boton-grabar">Grabar</button>
        <button id="boton-stop" disabled>Parar</button>
        <input type="file" id="file" accept="audio/*" oninput="onChangeFile()">
        <button id="subir-f" disabled>Subir</button>
        <h3 id="info-audio"></h3>
      </div>
      <div class="traduccion">
        <h1>Traduce tu canción del inglés al español</h1>
        <button id="boton-trad" disabled>Traducir</button>
        <h3 id="info-trad">Hay que colocar texto para traducir</h3>
      </div>
    </main>
    <footer>
      <h1>TRABAJO REALIZADO</h1>
      <h2>Carlos Carrasquer Luque</h2>
      <h2>Pablo Elías Ruiz Cánovas</h2>
      <h2>Erich Leonardo Hamn</h2>
    </footer>
  </body>
</html>
